*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

@media screen and (max-width:998px){
    html{
        font-size: 55%;
    }
}

@media screen and (max-width:768px){
    html{
        font-size: 35%;
    }
}

body{
    background-color: #120f17;
    }
 

    nav{
        z-index: 1;
        width: 100%;
        height: 95px;
        background: #120f17;
        
        /* border: 1px solid white; */
        /* overflow: hidden; */
    }
    
    nav .logo{
      height: 95px;
      width: 100px;
      /* border: 2px solid gray; */
      margin-left: 50px;
      margin-top: 10px;
      
    }
    
    nav ul{
        float: right;
        margin-right: 40px;
    }
    nav li{
        display: inline-block;
        margin: 0 8px;
        line-height: 60px;
    }
    nav a{
        color: #f2f2f2;
        font-size: 48px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 3px;
        padding-right: 10px;
        border-radius: 5px;
        font-family: 'Rubik', sans-serif;  
    }
    
    nav #icon{
        display:block;
        color: white;
        font-size: 36px;
        /* line-height: 60px; */
        float: right;
        margin-right: 75px;
        margin-top: 40px;
        cursor: pointer;
    }
    
    
    
    @media (max-width: 480px) { 
    
      nav ul{
          margin-right: 40px;
      }
      nav a{
          font-size: 15px;
      }
      nav #icon{
          display: block;
      }
      nav ul{
          position: fixed;
          width: 50%;
          height: 100vh;
          background: #3ae77f;
          top: 0;
          left: -100%;
          text-align: center;
          transition: all .2s;
      }
      nav li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
      }
      nav a{
          font-size: 15px;
      }
      nav ul.show{
        left: 0;
         
      }
    } 
    
    
    @media (max-width:1070px){
      
      nav ul{
          margin-right: 40px;
      }
      nav a{
          font-size: 48px;
      }
    }
    @media(max-width:1980px){
    
        nav ul{
            margin-right: 40px;
        }
        nav a{
            font-size: 48px;
        }
        nav #icon{
          display: block;
        }
        nav ul{
            position: fixed;
            width: 50%;
            height: 100vh;
            background: #3ae77f;
            top: 151px;
            left: -100%;
            text-align: center;
            transition: all .2s;
        }
        nav li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav a{
            font-size: 48px;
        }
        nav ul.show{
          left: 0;
          top: 0;
           
        }
      }





#heading{
    width: 80%;
    height: auto;
    margin: auto;
    font-family: Gilroy;
    /* border: 2px solid gray; */
    padding: 0;
    margin-top: 15rem;
   
}
#heading p{
    color: #ffffff;
    font-size: 6.9rem;
    /* line-height: 78px; */
    text-align: left;
    padding-left: 6.9rem;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 80rem;
}
#c{
    color: #3ae77f;
}

.disc{
    /* border: 2px solid gray; */
    max-width: 68%;
    height: 7rem;
    /* margin-left: 200.5px; */
    /* margin-top: 20px; */
    margin: auto;
}
.disc p{
    font-family: Gilroy;
    font-size:1.4rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.252rem;
    color: #ffffff;
    /* padding-left:210px ; */
    margin: auto;
    /* margin-left: 0px; */
}
@media(max-width:1100px){
    .disc p{
    margin: 2rem;        
    }
    .disc #line1{
        margin-left: 2rem;
    }
}
@media(max-width:550px){
    .disc p{
        margin-left: 4.5rem;
    }
    .disc #line1{
        margin-left: 4.7rem;
    }
}

#line1{
    width: 25%;
    height: .4rem;
    /* margin-left:210px; */
    margin-top: 11px;
    background-color: rgba(196, 196, 196, 0.08);
    font-family: Gilroy;
    font-size: 1.8rem;
    font-weight: 300;
}
#line1::after{
    position: absolute;
    z-index: 1;
    content: "";
    width: 5%;
    height: .4rem;
    box-shadow: 3px 3px 20px 0 rgba(61, 251, 137, 0.19);
    background-image: linear-gradient(to top, #51e8f1, #3dfb89);
}
.png{
    width: 100%;
    height: auto;
   /* margin: auto; */
    opacity: 0.56;
    /* border: 2px solid gray; */
    /* background: #51e8f1; */
    margin-top: 8.5rem;
  
}
.png .pngpng{
    max-width: 65%;
    height: auto;
}
.pngpng img{
    /* max-idth: 100em; */
    /* height: 240px; */
    object-fit:cover;
    object-position: center;
}
@media(max-width:900px)and(min-width:650px){
    .png img{
        width: 100%;
        height: 18rem;
    }
}
.img{
    /* max-width: 100%;
    height: 400px;
    margin-top: 140px;
    /* border: 2px solid gray; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    max-width: 100%;
    height: auto;
    /* border: 2px solid pink; */
    margin-top: 12rem;
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px; */
    
    /* justify-content: center; */

}

.img .triangle{
    position: relative;
    /* top: 160px; */
    /* width: 119.12px; */
    width:7%;
    /* height: 126.18px; */
    height: auto;
    /* left: -51px; */
    margin-top: 4.7px;
    /* top: 1281.94px; */
    /* transform: rotate(134.47deg); */
    /* border: 2px solid white; */
    /* triangle stroke 2 */


/* position: absolute;
width: 119.12px;
height: 126.18px;
left: -51px;
top: 1281.94px;
transform: rotate(134.47deg); */
/* border: 2px solid white; */
}


.img .triangle img{
    /* width: 119.12px; */
    max-width: 100%;
    /* height: 126.18px; */
    height: auto;
    opacity: 0.5;
    margin-top: 1rem;
    
}
.half{
     /* width:20% ;
    height:200ox;
   
    float: right;  */
    max-width: 100%;
    height: 30rem;
    /* border: 2px solid gray; */
    /* border: 2px solid green; */
    margin-right: 0;
    /* justify-content: center; */
    /* right: 0; */
}
/* .half1{
    width: 26%;
    height: 300px;
    border: 2px solid green;
    margin-right: 0;
}
.half1  img{
    float: right;
    height: 280px;
    max-width: 100%;
} */

.img p{
    font-family: Gilroy;
    font-size: 5rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: auto;
}

.disc2{
    max-width: 100%;
    height: auto;
    margin-top: 12.5rem;
    /* border: 2px solid white; */
}
.disc2 .triangle1{
    position: relative;
    /* border: 2px solid gray; */
    max-width:9%;
    height: auto;
    /* margin-top: 47px; */
    float: right;
    margin-right: 3rem;
    transform: matrix(0.29, 0.96, 0.96, -0.29, 0, 0);
    }
    
    
    .triangle1 img{
        /* width: 119.12px; */
        max-width: 100%;
        /* height: 126.18px; */
        height: auto;
        opacity: 0.5;
        /* margin-top: 10px; */
        
    }
.disc2 p{
    font-family: Gilroy;
    font-size: 1.7rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.52px;
    color: #ffffff;
    padding-left:15rem ;
    padding-top: 1rem;

}

#line2{
    width: 25%;
    height: .4rem;
    margin-left:15rem;
    margin-top: 1.1rem;
    background-color: rgba(196, 196, 196, 0.08);
    font-family: Gilroy;
    font-size: 1.8rem;
    font-weight: 300;
}
#line2::after{
    position: absolute;
    z-index: 1;
    content: "";
    width: 5%;
    height: .4rem;
    box-shadow: 3px 3px 20px 0 rgba(61, 251, 137, 0.19);
    background-image: linear-gradient(to top, #51e8f1, #3dfb89);
}

.triangle3{
    position: absolute;
    /* border: 2px solid gray; */
    max-width: 100%;
    height: auto;
    margin-top: 20rem;
    /* float: right; */
    margin-left: 92%;
    /* transform: matrix(0.29, 0.96, 0.96, -0.29, 0, 0); */
    }
    
    
    .triangle3 img{
        width: 11.912rem;
        max-width: 100%;
        height: 12.618rem;
        height: auto;
        opacity: 0.5;
        /* margin-top: 10px; */
        
    }

.web{
    max-width: 100%;
    height: auto;
    /* border: 2px solid pink; */
    margin-top: 27rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

#reverse{
    flex-wrap: wrap-reverse;
    right:5rem;
    /* border: 2px solid white; */
}
.developer{
    width: 60rem;
    height: auto;
    /* border: 2px solid green; */
    margin: .5rem;
    
}
.dev1{
    /* border: 2px solid gray; */
    height: auto;
    width:90%;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
}


.dev2{
    /* border: 2px solid gray; */
    height: auto;
    width: 90%;
    margin:auto;
    /* float: right; */
    
}

.dev3{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    /* border: 2px solid gray; */
    height: auto;
    width: 75%;
    
    margin-top: 1rem;
    margin: auto;
    margin-left: 2.8rem;
    margin-bottom: 3rem;
    /* justify-content: center; */
    float: left;
}
.dev1 p{
  font-family: Gilroy;
  font-size: 3rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.98;
  letter-spacing: normal;
  /* text-align: left; */
  /* margin-left: 1rem; */
  color: #ffffff;
}

.dev2 p{
    font-family: Gilroy;
    font-size:2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.dev3 .icon{
    height: 3.8rem;
    width: 3.8rem;
    /* border: 2px solid gray;   */
    float: right;
}
 #icon1{
    background-image: url(icons/cib_php.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
}
#icon2{
    background-image: url(icons/logos_preact.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
}
#icon3{
    background-image: url(icons/logos_nodejs.png);
    background-repeat: no-repeat;
    background-size: cover;  
    /* background-position: center;   */
}
#icon4{
    background-image: url(icons/el_wordpress.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}
#icon5{
    background-image: url(icons/simple-icons_shopify.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
}
#icon6{
    background-image: url(icons/logos_django-icon.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}
#icon7{
    background-image: url(icons/bx_bxl-css3.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}
#icon8{
    background-image: url(icons/typcn_html5.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
#icon9{
    background-image: url(icons/bx_bxl-javascript.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
#icon10{
    background-image: url(icons/bx_bxl-python.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
#icon11{
    background-image: url(icons/Vector.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
}
#icon12{
    background-image: url(icons/Vector-1.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    object-fit: none;
    /* width: 50px; */
    /* height: 50px; */
}
#icon13{
    background-image: url(icons/bx_bxl-figma.png);
    background-repeat: no-repeat;
    background-size: cover;  
    /* background-position: center;   */
}
#icon14{
    background-image: url(icons/simple-icons_sketch.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}
#icon15{
    background-image: url(icons/simple-icons_adobexd.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
}
#icon16{
    background-image: url(icons/bx_bxl-invision.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}
#icon17{
    background-image: url(icons/simple-icons_adobephotoshop.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}
#icon18{
    background-image: url(icons/simple-icons_adobeillustrator.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
.developer img{
    width: 70%;
    height: 35rem;
    /* margin: 0px 125px 0px 125px; */
    margin-left: 3rem;
    margin-top: 1.5rem;
    border-radius: 2rem;
}
.web .arrow2{
    /* border-radius: 50%; */
    /* background-color: black; */
    height: 10rem;
    width: 10rem;
    margin-left: 9rem;
    margin-top: .5rem;
    
}
@media screen and (max-width:998px){
    .web{
        margin-top: 17rem;
    }

    .web .arrow2{
        margin-left: 3rem;
    }

    #reverse{
        position: relative;
        right: 7rem;
    }
}

@media screen and (max-width:768px){
    .web{
        margin-top:10rem;
    }

    .web .arrow2{
        margin-left: 3rem;
    }

    #reverse{
        position: relative;
        right: 6rem;
    }
}






.triangle2{
    position: relative;
    /* border: 2px solid gray; */
    max-width:9%;
    height: auto;
    margin-top: 5rem;
    float: left;
    margin-left: 3rem;
    transform: matrix(0.29, 0.96, 0.96, -0.29, 0, 0);
    }
    
    
    .triangle2 img{
        /* width: 119.12px; */
        max-width: 100%;
        /* height: 126.18px; */
        height: auto;
        opacity: 0.5;
        /* margin-top: 10px; */
        
    }
        
    .triangle4{
        position: absolute;
        /* border: 2px solid gray; */
        max-width: 100%;
        height: auto;
        margin-top: -10rem;
        /* float: right; */
        margin-left: 74%;
        z-index: -1;
        /* transform: matrix(0.29, 0.96, 0.96, -0.29, 0, 0); */
        }
        
        
        .triangle4 img{
            width: 20rem;
            max-width: 100%;
            height: 12.618rem;
            height: auto;
            opacity: 0.5;
            /* margin-top: 10px; */
            
        }
    
.brand{
    max-width: 100%;
    height: auto;
    /* border: 2px solid pink; */
    margin-top: 27rem;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    gap: 3rem;
    justify-content: center;
}
.branding{
    width: 60rem;
    height: auto;
    /* border: 2px solid green; */
    margin: .5rem;
    
}
.brand1{
    /* border: 2px solid gray; */
    height: auto;
    width:90%;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;

}
.brand2{
   /* border: 2px solid gray; */
   height: auto;
   width: 90%;
   margin:auto;
   /* float: right; */
}
.brand1 p{
    font-family: Gilroy;
    font-size: 4rem;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.98;
    letter-spacing: normal;
    /* text-align: left; */
    /* margin-left: 1rem; */
    color: #ffffff;
  }
  
  .brand2 p{
    font-family: Gilroy;
    font-size:2.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .branding img{
    
    width: 70%;
    height: 35rem;
    /* margin: 0px 125px 0px 125px; */
    margin-left: 3rem;
    margin-top: 1.5rem;
    border-radius: 2rem;
    
  }

.branding .arrow2{
    /* border-radius: 50%; */
    /* background-color: black; */
    height: 10rem;
    width: 10rem;
    margin-left: 9rem;
    margin-top: .5rem;
    
}

@media screen and (max-width:998px){
    .brand{
        margin-top: 17rem;
    }

    .branding .arrow2{
        margin-left: 3rem;
    }
}

@media screen and (max-width:768px){
    .brand{
        margin-top: 7rem;
    }

    .branding .arrow2{
        margin-left: 3rem;
    }
}


.triangle5{
    position: absolute;
    /* border: 2px solid gray; */
    max-width: 100%;
    height: auto;
    margin-top: -10rem;
    /* float: right; */
    margin-left: 6%;
    z-index: -1;
    /* transform: matrix(0.29, 0.96, 0.96, -0.29, 0, 0); */
    }
    
    
    .triangle5 img{
        width: 20rem;
        max-width: 100%;
        height: 12.618rem;
        height: auto;
        opacity: 0.5;
        /* margin-top: 10px; */
        
    }

.edit{
    max-width: 100%;
    height: 21.5rem;
    /* border: 2px solid white; */
    margin-top: 23rem;
    opacity: 0.56;

}


.edit .pngpng2{
    float: right;
    max-width: 55%;
    height: auto;
}
.pngpng2 img{
    /* max-idth: 100em; */
    /* height: 240px; */
    object-fit:cover;
    object-position: center;

}


.img2{
    position: relative;
    max-width: 100%;
    height: auto;
    /* margin-top: 115px; */
    /* border: 2px solid gray; */
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 22rem;
}
.triangle6{
    position: absolute;
    /* border: 2px solid gray; */
    max-width: 100%;
    height: auto;
    margin-top: -10rem;
    /* float: right; */
    margin-left: 22.5%;
    z-index: -1;
    /* transform: matrix(0.29, 0.96, 0.96, -0.29, 0, 0); */
    }
    .triangle6 img{
        width: 20rem;
        max-width: 100%;
        height: 12.618rem;
        height: auto;
        /* opacity: 0.5; */
        /* margin-top: 10px; */
        
    }

.we3{
    width: 38%;
    height: auto;
    /* border: 2px solid gray; */
    float: right;
    margin: auto;}

.we3 p{
    font-family: Gilroy;
    font-size: 4rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}



.letstalk{
    max-width: 100%;
    height: auto;
    /* border: 2px solid gray; */
    margin-top: 15rem;
    background-color: #32d974;
  
}
.lets1{
    max-width: 100%;
    height: auto;
    /* border: 2px solid gray; */
    /* float: right; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.logo2{
    width: 45%;
    height: 16.5rem;
    /* border: 2px solid gray; */
    /* margin-left: 50px; */
    margin: auto;
    float: right;
}
.talk{
    /* border: 2px solid gray; */
    height: 7rem;
}
.talk p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 8.3rem;
    /* identical to box height, or 173% */
    color: #FFFFFF;
    margin: auto;
}
.contact p{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 3.3rem;
line-height: 4rem;
color: #FFFFFF;
margin-left: 4rem;
margin: auto;

}